/* components/LoadingSpinner.module.css */
.spinnerContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8); /* Adjust transparency here */
    z-index: 9999;
  }
  
  .spinner {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #48127e; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  